$lightA: #e4d8ff;
$lightB: #B18fcf;
$midtone: #9984D4;
$darkA: #494850;
$darkB: #2C2C34;
$darkC: #fef4ff;
$darkD: #f8f4f7;
$textA: #24292f;
$textB: #401268;
$textC: #494850;
$textD: #6b6777;

@keyframes page-show {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

#content {
    animation: page-show 1s;
}

body {
    background-image: url("/images/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

nav {
    width: 80vw;
    height: fit-content;

    position: relative;
    display: flex;
    justify-content: center;

    margin: 80px auto 0 auto;
    padding: 5px;
    z-index: 10;

    flex-direction: column;
    align-items: center;
}

nav ul {
    width: fit-content;

    margin: auto 0 auto 0;
    list-style-type: none;

    display: inline-flex;

    padding: 0;
}


nav a {
    margin: 0;
    text-decoration: none;
}

.navButton {
    width: 75px;
    height: 80%;
    padding: 0 10px 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto auto auto auto;
    align-content: center;
    text-align: center;
    text-shadow: rgb(22, 22, 22, .1) 3px 3px 3px;

    transition: all .25s;
}

.roundedTopBorder {
    border-radius: 5px 5px 0 0;
}

.roundedBorder {
    border-radius: 5px;
}

nav span {
    font-size: large;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: $textA;

    transition: all .25s;
}

nav span:hover {
    color: $textB;
}

.navHome {
    margin: 0;
}

.navIcon {
    width: 43.2px;
    height: 43.2px;
    object-fit: contain;

    transition: all .25s; 
    filter: grayscale(1);
}

.navIcon:hover {
    transform: scale(1.25);
    filter: grayscale(0);
}

@keyframes dropdownShow {
    0% {
        opacity: 0%;
        transform: scaleY(0);
    }

    100% {
        opacity: 100%;
        transform: scaleY(1);
    }
}

.navDropdown {
    transform-origin: top;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5px 10px 5px 10px;

    width: 130px;
    height: fit-content;

    text-align: left;

    pointer-events: all;

    border-radius: 0 5px 5px 5px;

    transition: all .25s;
    transform: translate(-8px, 0) scaleY(1);
}

.navDropdown:hover {
    opacity: 100%;
}

#navDropdown img {
    width: 24px;
    height: 24px;
    object-fit: contain;

    transition: all .25s; 
    filter: grayscale(1);
    position: absolute;

    transform: translate(-10px, -2px) rotate(0);
    opacity: 0;
}

#navDropdown:hover img {
    transform: translate(5px, -2px) rotate(45deg);
    opacity: 1;
    filter: grayscale(0);
}

.navDropdown li {
    margin: 5px 0 5px;
    padding: 5px 0 5px 0;
}

.navDropdown span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: large;

    text-transform: lowercase;
}

a span {
    transition: all;
    transition-duration: .25s;
}

a span:hover {
    color: $textB;
}

.hidden {
    opacity: 0%;
    pointer-events: none;
    transform: translate(-8px, 0) scaleY(0);
}

.spacer {
    height: 50px;
}

.block {
    height: fit-content;
    width: 85vw;
    margin: 15px auto 15px auto;

    border-radius: 25px;

    font-size: normal;
}

.blockRibbon {
    height: fit-content;
    margin: 0 auto 0 auto;
    padding: 20px;

    font-size: normal;

    background-color: $darkD;

    box-shadow: 0px 10px 15px 5px rgb(0, 0, 0, 0.2);
}

.blockRibbon h1 {
    text-shadow: rgb(22, 22, 22, .1) 3px 3px 3px;
}


.inline {
    display: inline-flex;
}

.twoSplit {
    margin: auto;
    padding: 15px;
    width: 100%;
    list-style: none;
    display: inline-flex;
}

.twoSplit ul {
    align-content: center;
    width: 50%;
}

.twoSplit li {
    margin: 0 auto 0 auto;
}

.verticalLine {
    background-color: transparentize($textA, .8);
    width: 2px;
    height: 75px;

    margin: 20px auto 20px auto;
}

#top-line {
    border-radius: 2px 2px 0 0;
}

#bot-line {
    border-radius: 0 0 2px 2px;
}

.verticalList {
    height: fit-content;
    width: 30px;
    list-style-type: none;
    font-size: large;

    padding: 0;
}

.verticalText {
    writing-mode: sideways-lr;
    position: relative;
    right: 2.2rem;
    height: max-content;

    color: $textC;
    font-size: 15px;
    font-weight: 100;
}

.verticalList li {
    width: 30px;
    display: inline-block;

    margin: 5px 0 5px;
    text-align: center;
}

.verticalImage img {
    width: 25px;
    object-fit: contain;
    position: relative;
    filter: grayscale(1);

    transition: all .25s;
}

.verticalImage img:hover {
    transform: scale(1.25);
    filter: grayscale(0);
}

.rotateList {
    height: max-content;
    margin: 0;
    align-content: center;
}

.nameTag {
    position: relative;
    margin-inline: auto;
    width: 850px;

    color: $textA;
    text-shadow: rgb(22, 22, 22, .1) 3px 3px 3px;
    
    word-spacing: 0px;
    font-size: 35px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: lowercase;

    transform-origin: center;
}

.nameTag ul {
    padding: 0;
    list-style-type: none;
}

.nameTag li {
    padding: 10px 0 10px;
}

.nameTag h1, h2 {
    margin: 0 auto 0 auto;
    padding: 0;
}

.center {
    margin: auto;
}

.fit {
    width: max-content;
    height: max-content;
}

.maxWidth {
    width: 100%;
}

.inlineFlex {
    display: inline-flex;
}

footer {

    height: 325px;
    background-color: $darkD;

    padding: 30px;
}

.footer-shadow {
    box-shadow: 0px -10px 15px 5px rgb(0, 0, 0, 0.2);
}

footer, footer a, footer a:visited {
    font-family: "Cairo", sans-serif; 
    color: $textD;
}

footer a {
    text-decoration: none;
    text-transform: lowercase;

    transition: all .25s;
}

footer a:hover {
    color: $textB;
}


footer .block {
    display: flex;
    flex-direction: row;
    color: $textD;
}

footer .block {
    position: relative;
    z-index: 10;
}

footer p {
    color: $lightA;
}

footer h1 {
    width: 650px;
}

.footer-icon img {
    width: 40px;
    object-fit: contain;
    position: relative;

    transition: all .25s;
}

.footer-icon img:hover {
    transform: scale(1.25);
}

.footer-list li {
    list-style-type: none;
}   

footer .block div {
    margin: 0 15px 0 15px;
}

footer ul {
    padding: 0;
}

.footer-info-title {
    text-transform: lowercase;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    color: #6b6777;
}

.footer-info-information {
    text-transform: lowercase;
    font-family: "Cairo", sans-serif;
    color: #6b6777;
}

.nav-resume-dl {
    padding: 8px 10px 8px 10px;
    border: $textA;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    display: flex;

    height: fit-content;

    transition: all .25s;

    position: absolute;

    right: 0;
    bottom: 20%;
}

.nav-resume-dl:hover {
    background-color: $textB;
    border-color: $textB;
}

.nav-resume-dl span {
    padding: 0 5px 0 5px;
    color: $textA;
    text-shadow: rgb(22, 22, 22, .1) 3px 3px 3px;
}

.nav-resume-dl:hover {
    border-color: $textB;
    color: white;
}

.nav-resume-dl:hover span {
    color: white;
}

.resume-icon {
    opacity: 1;
    z-index: 13;
    filter: grayscale(1);

    transition: all .25s;
}

.nav-resume-dl:hover .resume-icon {
    z-index: 13;
    opacity: 0;

    transition: all .25s;
}

.nav-resume-dl:hover .resume-icon-white {
    z-index: 13;
    opacity: 1;
}

.resume-icon-white {
    position: absolute;
    right: 5%;
    z-index: 12;
}

.nav-resume-link, .nav-resume-link:visited {
    color: $textA;
}

.resume-icon {
    padding: 0 5px 0 5px;
    width: 24px;
    height: 24px;
    object-fit: contain;

    transition: all .25s; 
    filter: grayscale(1);
}

#about-bio {
    margin: 30px auto 30px auto;
    width: 70%;
    text-align: center;

    font-size: 25px;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    color: #6b6777;
    line-height: 1.5;
}

.skills {
    display: flex;
    flex-direction: row;

    width: 80%;
    margin: 15px auto 30px auto;


}

.skill-box {
    width: 20%;
    margin: 0 auto 0 auto;
}

.highlight-header {
    font-family: "Cairo", sans-serif; 
    font-weight: 800;
    text-transform: uppercase;
    font-size: 15px;

    margin: 10px 0 10px;
}

.skill-box p {
    text-align: justify;
    margin: 10px 0 10px;
}

.skill-box img {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-color: $lightA;

    padding: 5px;
    border-radius: 10px;

    margin: 0 0 10px;
}

.skills-line {
    background-color: transparentize($textA, .8);
    width: 2px;
    height: 140px;

    margin: auto 3.3% auto 3.3%;
}

.skills-div {
    display: inline-flex;
    width: 100%;
}

.skills-arrow {
    width: 20px;
    height: 20px;
    object-fit: contain;

    cursor: pointer;
    
    transform: scale(1);

    transition: all .25s;
}

#right-skill-arrow {
    margin: auto auto auto 0;
    transform: scale(1);
}

#right-skill-arrow:hover {
    transform: scale(1.2);
}

#left-skill-arrow {
    margin: auto 0 auto auto;
    transform: scaleX(-1);
}

#left-skill-arrow:hover {
    transform: scale(-1.2, 1.2);
}

.no-y-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.low-z {
    z-index: -100;
}

.home-showcase {
    
}

.showcase-icon {
    width: 200px;
    height: max-content;
    object-fit: contain;
}

.block-header {
    text-shadow: rgba(22, 22, 22, 0.1) 3px 3px 3px;
    word-spacing: 0px;
    font-size: 70px;
    font-style: normal;
    font-variant: normal;
    text-transform: lowercase;

    line-height: .9;
}

.block-header2 {
    margin: 20px auto 20px auto;
    text-shadow: rgba(22, 22, 22, 0.1) 3px 3px 3px;
    word-spacing: 0px;
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    font-variant: normal;
    text-transform: lowercase;
}

.footer-line {
    height: 2px;
    width: 80%;

    margin: 20px auto 20px auto;

    background-color: transparentize($textD, .8);
}

footer .block {
    width: 80%;
}

#footer-attribution {
    width: 70%;
}

.no-x-margin {
    margin-left: 0;
    margin-right: 0;
}

.flex {
    display: flex;
}

.flex-flow-column {
    flex-flow: column;
}

.flex-flow-row {
    flex-flow: row;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.text-justify {
    text-align: justify;
}

.text-color-a {
    color: $textA;
}

.text-color-b {
    color: $textB;
}

.text-color-c {
    color: $textC;
}

.text-color-d {
    color: $textD;
}

.font-a {
    font-family: "Roboto", sans-serif;
}

.font-b {
    font-family: "Funnel Sans", sans-serif;
}

.font-c {
    font-family: "Cairo", sans-serif; 
}

.contact-div {
    width: 60%;
    padding: 20px 0 20px 0;
}

#contact-form {
    width: 60%;
}

.contact-field {
    margin: 0 auto 0 auto;
    width: 50%;
}

.contact-field-text {
    border-style: solid;
    border-radius: 25px;

    border-color: transparentize($textD, .8);

    padding: 5px;

    text-align: center;
}

#contact-text-left {
    border-right-width: 1px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#contact-text-right {
    border-left-width: 1px;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#contact-form-submit {
    width: fit-content;
    background-color: transparent;

    margin-top: 10px;
    padding: 5px 30px 5px 30px;

    font-weight: 400;
    border-radius: 25px;
    border: transparentize($textD, .8) solid 2px;
    text-shadow: rgba(22, 22, 22, 0.1) 3px 3px 3px;
    color: transparentize($textD, .2);

    font-size: 20px;

    transition: all .25s;
}

#contact-form-submit:hover {
    color: white;
    border-color: $textB;
    background-color: $textB;
}

#contact-field-message {
    height: 280px;
    vertical-align: top;
    resize: none;

    margin: 10px 0 10px;

    padding: 10px;
    border-style: solid;
    border-radius: 25px;
    border-color: transparentize($textD, .8);
}

#contact-line {
    border-radius: 2px;
    height: 23rem;
    margin: auto 10px auto 10px;
}

.lower-case {
    text-transform: lowercase;
}

.upper-case {
    text-transform: uppercase;
}

.work-history-point {
    width: 30px;
}

.work-history-cap {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;

    background-color: transparentize($textB, .2);
    border-radius: 100%;
}

.work-history-top-cap {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;

    margin-top: 65px;

    background-color: transparentize($textB, .2);
    border-radius: 100%;
}

.work-history-line {
    width: 4px;
    height: 185px;

    background-color: transparentize($textB, .6);

    margin: 0 auto 0 auto;
}

.work-history-top-line {
    width: 4px;
    height: 65px;

    background-color: transparentize($textB, .6);

    margin: 0 auto 0 auto;
}

.work-history-body {
    width: 70%;
}

.work-history-margin {
    margin: 50px 0 50px;
}

.work-history-div {
    width: 60%;
    height: 250px;
}

.work-history-info {
    margin: 60px 0 50px;
}

.work-history-date {
    font-weight: 600;
}

.work-history-highlight {
    width: 150px;
}

.work-history-title {
    text-shadow: rgba(22, 22, 22, 0.1) 3px 3px 3px;
    word-spacing: 0px;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    text-transform: lowercase;

    line-height: .9;
}

.work-history-header {
    text-shadow: rgba(22, 22, 22, 0.1) 3px 3px 3px;
    word-spacing: 0px;
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
    text-transform: lowercase;

    line-height: .9;
    
    margin-left: 30px;
    padding-right: 15px;
}

.work-history-segment-title {
    width: 60%;
}

.work-history-segment-line {
    background-color: transparentize($textA, .8);
    flex: 1;
    height: 2px;
    margin: auto 30px auto auto;
}
