:root {
    --background: black;
    --title-bar: gray;
    --title-bar-hover: lightGreen;

    --link: white;
    --link-hover: lightBlue;

    --text: white;
    --border: purple;
    --border-background: rgb(186, 112, 255);
}

/* TITLE BAR */
.title-bar {
    background-color: var(--title-bar);
    display: flex;
    justify-content: center;
}

.title-bar ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.title-bar li {
    padding: 10px 15px 10px 15px;
    display: inline-flex;
    transition: all 0.25s;
}

.title-bar li:hover {
    background-color: var(--title-bar-hover);
}

.title-bar a {
    color: var(--link);
    text-decoration: none;
}

/* FOOTER */
.footer-container {
    background-color: var(--title-bar);
    height: 200px;
}

.footer {
    margin: auto;
    position: relative;
    right: 250px;

    width: 300px;
    border: 5px dotted green;
}

.logos img {
    width: 20px;
}